{% load static %}
<div class="nav-container sticky-top" id="nav-standard">
  <nav id="nav-contact">
    <div class="nav-mobile">
      <a
        class="nav-toggle"
        id="contact-toggle"
        onclick="menuToggle('contact')"
        href="#!"
        ><span class="blue-toggle"></span
      ></a>
    </div>
    <ul class="nav-list" id="contact-list">
      <li>
        <a
          href="#main"
          onclick="menuToggle('contact'), animateSection('contact', 'main')"
          class="text-hover text-hover-linethrough-goes-right nav-inactive blue"
          >Home</a
        >
      </li>
      <li>
        <a
          href="#about"
          onclick="menuToggle('contact'), animateSection('contact', 'about')"
          class="text-hover text-hover-linethrough-goes-right nav-inactive blue"
          >About</a
        >
      </li>
      <li>
        <a
          href="#projects"
          onclick="menuToggle('contact'), animateSection('contact', 'projects')"
          class="text-hover text-hover-linethrough-goes-right nav-inactive blue"
          >Projects</a
        >
      </li>
      <li
        class="white-active text-hover text-hover-linethrough-goes-right white nav-active"
      >
        Contact
      </li>
      <li>
        <a
          href="https://www.linkedin.com/in/lorenzo-sani/"
          target="_blank"
          class="text-hover text-hover-linethrough-goes-right blue"
          ><img
            src="{% static 'linkedin-blue.png' %}"
            height="20px"
            width="20px" /></a
        >&nbsp;
        <a
          href="https://www.github.com/lorenzosani/"
          target="_blank"
          class="text-hover text-hover-linethrough-goes-right blue"
          ><img src="{% static 'github-blue.png' %}" height="20px" width="20px"
        /></a>
      </li>
    </ul>
  </nav>
</div>

<h1 class="title section-title blue">Contact</h1>

<div class="center-page blue" id="contact-header">
  <br /><br />
  <div class="text" id="subtitle-text">Drop me an email at</div>
  <div class="email">lorenzosani97@gmail.com</div>
  <div class="contact-icons">
    <a href="https://www.linkedin.com/in/lorenzo-sani/" target="_blank"
      ><img
        src="{% static 'linkedin-blue.png' %}"
        height="35vh"
        width="35vh" /></a
    >&nbsp;
    <a href="https://www.github.com/lorenzosani/" target="_blank"
      ><img src="{% static 'github-blue.png' %}" height="35vh" width="35vh"
    /></a>
  </div>
</div>
