{% extends 'base.html' %} {% block content %}
<div id="fullpage">
    <div class="section">Main page</div>
    <div class="section">About</div>
    <div class="section">Projects</div>
    <div class="section">Contact</div>
</div>
<script>
$(document).ready(() => {
	$('#fullpage').fullpage({
    licenseKey: '6565F2B8-BA0F41C3-BC8C06A0-1D42DA81',
    anchors:['main', 'about', 'projects', 'contact'],
		autoScrolling:true,
    scrollHorizontally: false,
    sectionsColor : ['blue', 'red', 'grey', 'blue'],
	});

	$.fn.fullpage.setAllowScrolling(true);
});
</script>
{% endblock %}