{% extends 'base.html' %} {% block content %} {% load static %}
<div id=loader></div>
<div id="home" class="parallax">
  <div id="home-back">
    <div id="stars"></div>
    <div id="stars2"></div>
    <div id="stars3"></div>
  </div>
  <!-- NAVBAR -->
  <section class="navigation">
    <div class="nav-container sticky-top">
      <nav>
        <div class="nav-mobile">
          <a id="nav-toggle" href="#!"><span></span></a>
        </div>
        <ul class="nav-list">
          <li><a href="" class="active text-hover text-hover-linethrough-goes-right white">Home</a></li>
          <li><a href="#about" onclick="animateSection('main', 'about')" class="text-hover text-hover-linethrough-goes-right white">About</a></li>
          <li><a href="#projects" onclick="animateSection('main', 'projects')" class="text-hover text-hover-linethrough-goes-right white">Projects</a></li>
          <li><a href="#contact" onclick="animateSection('main', 'contact')" class="text-hover text-hover-linethrough-goes-right white">Contact</a></li>
          <li><a href="https://www.linkedin.com/in/lorenzo-sani/" target="_blank" class="white text-hover text-hover-linethrough-goes-right"><img src="{% static 'linkedin.png' %}" height="24px" width="24px"></a></li>
        </ul>
      </nav>
    </div>
  </section>
  <!-- HOME SCREEN -->
  <div class="center-page" id="header">
    <div id="title">
      Hello, Universe.
    </div>
    <div id="subtitle">
      I'm Lorenzo! Sometimes I design, develop and build stuff. <br/><a href="#projects" onclick="animateSection('main', 'projects')" class="white text-hover text-hover-linethrough-goes-right">Here</a> you can find some of the projects I've been working on.
    </div>
    <button class="learn-more">
      <a href="#about" onclick="animateSection('main', 'about')">
      <span class="circle">
        <span class="icon arrow"></span>
      </span>
      <span class="button-text">Learn More</span>
    </a>
    </button>
  </div>
  <div id="scroll">
    <a class="learn-more" href="#about" onclick="animateSection('main', 'projects')"><span></span></a>
  </div>
</div>
<div id="fullpage">
  <div class="section" id="about-section"></div>
  <div class="section" id="projects-section">Projects</div>
  <div class="section" id="contact-section">Contact</div>
  <div class="section">Footer</div>
</div>
{% endblock %}
