<!DOCTYPE html>
<html>
  <head>
    <title>Mindlayer</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <style>
      body {
        width: 100vw;
        height: 100vh;
        margin: 0;
      }
      .background {
        width: 100vw;
        height: 100vh;
        background: white;
      }
    </style>
  </head>

  <body>
    <div class="background">
      <iframe
        src="https://app.pitch.com/app/embed/2ed425c3-e03d-4793-98a7-10de8a8c57b5"
        allow="fullscreen"
        allowfullscreen="true"
        width="99%"
        height="99%"
        style="border: 0"
      ></iframe>
    </div>
  </body>
</html>
