{% load static %}
<div class="nav-container sticky-top" id="nav-standard">
    <nav id="nav-projects">
        <div class="nav-mobile">
            <a class="nav-toggle" id="projects-toggle" onclick="menuToggle('projects')" href="#!"><span class="white-toggle"></span></a>
        </div>
        <ul class="nav-list" id="projects-list">
            <li>
                <a href="#main" onclick="menuToggle('projects'), animateSection('projects', 'main')"
                class="text-hover text-hover-linethrough-goes-right white">Home</a>
            </li>
            <li>
                <a href="#about" onclick="menuToggle('projects'), animateSection('projects', 'about')" class="text-hover text-hover-linethrough-goes-right white">About</a>
            </li>
            <li>
                <a href="#!" class="active text-hover text-hover-linethrough-goes-right orange">Projects</a>
            </li>
            <li>
                <a href="#contact" onclick="menuToggle('projects'), animateSection('projects', 'contact')" class="text-hover text-hover-linethrough-goes-right white">Contact</a>
            </li>
          <li>
            <a href="https://www.linkedin.com/in/lorenzo-sani/" target="_blank" class="white text-hover text-hover-linethrough-goes-right"><img src="{% static 'linkedin.png' %}" height="20px" width="20px"></a>&nbsp;
            <a href="https://www.github.com/lorenzosani/" target="_blank" class="white text-hover text-hover-linethrough-goes-right"><img src="{% static 'github.png' %}" height="20px" width="20px"></a>
          </li>
        </ul>
    </nav>
</div>
<h1 class="title section-title orange">Projects</h1>

<div class="white padding-sides padding-top">
    <button class="bubble" onclick="select('web-dev')" id="web-dev">WebDev</button>
    <button class="bubble" onclick="select('mobile-dev')" id="mobile-dev">MobileDev</button>
    <button class="bubble" onclick="select('game-dev')" id="game-dev">GameDev</button>
    <button class="bubble" onclick="select('neuro-tech')" id="neuro-tech">NeuroTech</button>
    <button class="bubble" onclick="select('machine-learning')" id="machine-learning">Machine Learning</button>
    <button class="bubble" onclick="select('ui-ux-design')" id="ui-ux-design">UI/UX Design</button>
    <button class="bubble" onclick="select('graphic-design')" id="graphic-design">Graphic Design</button>


<div id="projectsCarousel">
    <div class="cards">
    {% for project in projects %}
    <div class="card-container">
        <a href="{{project.link}}" target="_blank" class="card project-card">
            <div class="card-image" style="background: #e6e6e6 no-repeat center center; background-size:cover; background-image: url({{ project.image.url }})"></div>
            <div class="card-body">
                <p class="blue card-title">{{ project.title }}</p>
                <p class="blue card-text">{{ project.description }}</p>
                {% if project.labels %}
                    <div class="project-labels d-flex">
                    {% for label in project.labels %}
                        <div class="badge badge-primary project-label">{{ label }}</div>
                    {% endfor %}
                    </div>
                {% endif %}
            </div>
        </a>
    </div>
    {% endfor %}
    </div>
</div>

<script>
    menuToggle = (section) => {
        let nav = $(`#${section}-toggle`);
        $(`#${section}-list`).slideToggle();
        if (nav.hasClass("active")) {
        nav.removeClass("active");
        } else {
        nav.addClass("active");
        }
    }
    $(document).ready(() => {
        $('.cards').flickity({
            contain: true,
            cellSelector: '.card-container',
            pageDots: false
        });

        let selected = {
            "web-dev" : false,
            "mobile-dev" : false,
            "game-dev" : false,
            "neuro-tech" : false,
            "machine-learning" : false,
            "ui-ux-design" : false,
            "graphic-design" : false
        }

        select = (id) => {
            selected[id] = !selected[id]
            selected[id] ? document.getElementById(id).classList.add("bubble-active") : document.getElementById(id).classList.remove("bubble-active");
            filterProjects(selected);
        }

        filterProjects = (filter) => {
            $.ajax({
                url: "/projects/filter",
                data: filter,
                dataType: 'text',
                contentType: 'application/json; charset=utf-8',
                success: response => {
                    $("#projectsCarousel").html(response)
                },
                error: response => {
                    console.log(response);
                }
            });
        }

        showProjects = () => {
            $(".padding-sides").css("margin-left", "400px");
            $(".padding-sides").css("margin-right", "-400px");
            $(".padding-sides").css("opacity", "0");
            setTimeout(() => {
                $(".p-hide, .bubble").css("display", "none");
                $("#projectsCarousel").css("display", "flex");
                $("#project-scroll a").css("display", "inline-block");
                $(".back-to-selection").css("display", "block");
                $(".padding-sides").css("margin-left", "0px");
                $(".padding-sides").css("margin-right", "0px");
                $(".padding-sides").css("opacity", "1");
            }, 600);
        }

        showSelection = () => {
            $(".padding-sides").css("margin-left", "400px");
            $(".padding-sides").css("margin-right", "-400px");
            $(".padding-sides").css("opacity", "0");
            setTimeout(() => {
                $("#projectsCarousel, #project-scroll a, .back-to-selection").css("display", "none");
                $(".p-hide").css("display", "block");
                $(".bubble").css("display", "inline-block");
                $(".padding-sides").css("margin-left", "0px");
                $(".padding-sides").css("margin-right", "0px");
                $(".padding-sides").css("opacity", "1");
            }, 600);
        }
    });
</script>
