<div class="cards">
	{% for project in projects %}
	<div class="card-container">
			<a href="{{project.link}}" target="_blank" class="card project-card">
					<div class="card-image" style="background: #e6e6e6 no-repeat center center; background-size:cover; background-image: url({{ project.image.url }})"></div>
					<div class="card-body">
							<p class="blue card-title">{{ project.title }}</p>
							<p class="blue card-text">{{ project.description }}</p>
							{% if project.labels %}
									<div class="project-labels d-flex">
									{% for label in project.labels %}
											<div class="badge badge-primary project-label">{{ label }}</div>
									{% endfor %}
									</div>
							{% endif %}
					</div>
			</a>
	</div>
	{% endfor %}
</div>

<script>
$(document).ready(() => {
	$('.cards').flickity({
			contain: true,
			cellSelector: '.card-container',
			pageDots: false
	});
});
</script>