<div class="carousel-inner">
	<div class="carousel-item active">
		<div class="cards row">
		{% for project in projects|slice:"0:4" %}
		<div class="col-3">
			<div class="card project-card">
				<div class="card-image" style="background: #e6e6e6 no-repeat center center; background-size:cover; background-image: url({{ project.image.url }})"></div>
				<div class="card-body">
					<p class="blue card-title">{{ project.title }}</p>
					<p class="blue card-text">{{ project.description }}</p>
				</div>
			</div>
		</div>
		{% endfor %}
		</div>
	</div>
	{% if projects|length > 4 %}
	<div class="carousel-item">
		<div class="cards row">
			{% for project in projects|slice:"4:8" %}
			<div class="col-3">
				<div class="card project-card">
					<div class="card-image" style="background: #e6e6e6 no-repeat center center; background-size:cover; background-image: url({{ project.image.url }})"></div>
					<div class="card-body">
						<p class="blue card-title">{{ project.title }}</p>
						<p class="blue card-text">{{ project.description }}</p>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
	{% endif %}
	{% if projects|length > 8 %}
	<div class="carousel-item">
		<div class="cards row">
			{% for project in projects|slice:"8:12" %}
			<div class="col-3">
				<div class="card project-card">
					<div class="card-image" style="background: #e6e6e6 no-repeat center center; background-size:cover; background-image: url({{ project.image.url }})"></div>
					<div class="card-body">
						<p class="blue card-title">{{ project.title }}</p>
						<p class="blue card-text">{{ project.description }}</p>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
	{% endif %}
	{% if projects|length > 12 %}
	<div class="carousel-item">
		<div class="cards row">
			{% for project in projects|slice:"12:16" %}
			<div class="col-3">
				<div class="card project-card">
					<div class="card-image" style="background: #e6e6e6 no-repeat center center; background-size:cover; background-image: url({{ project.image.url }})"></div>
					<div class="card-body">
						<p class="blue card-title">{{ project.title }}</p>
						<p class="blue card-text">{{ project.description }}</p>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
	{% endif %}
	{% if projects|length > 16 %}
	<div class="carousel-item">
		<div class="cards row">
			{% for project in projects|slice:"16:20" %}
			<div class="col-3">
				<div class="card project-card">
					<div class="card-image" style="background: #e6e6e6 no-repeat center center; background-size:cover; background-image: url({{ project.image.url }})"></div>
					<div class="card-body">
						<p class="blue card-title">{{ project.title }}</p>
						<p class="blue card-text">{{ project.description }}</p>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
	{% endif %}
</div>

<script>
    $(document).ready(() => {
		let carousel = $('#projectsCarousel');
		carousel.carousel('pause');
	});
</script>