{% load static %}
<div class="nav-container sticky-top" id="nav-standard">
    <nav id="nav-projects">
        <div class="nav-mobile">
            <a class="nav-toggle" id="projects-toggle" onclick="menuToggle('projects')" href="#!"><span></span></a>
        </div>
        <ul class="nav-list" id="projects-list">
            <li>
                <a href="#main" onclick="menuToggle('projects'), animateSection('projects', 'main')"
                class="text-hover text-hover-linethrough-goes-right white">Home</a>
            </li>
            <li>
                <a href="#about" onclick="menuToggle('projects'), animateSection('projects', 'about')" class="text-hover text-hover-linethrough-goes-right white">About</a>
            </li>
            <li>
                <a href="#!" class="active text-hover text-hover-linethrough-goes-right orange">Projects</a>
            </li>
            <li>
                <a href="#contact" onclick="menuToggle('projects'), animateSection('projects', 'contact')" class="text-hover text-hover-linethrough-goes-right white">Contact</a>
            </li>
            <li>
                <a href="https://www.linkedin.com/in/lorenzo-sani/" target="_blank"
                class="blue text-hover text-hover-linethrough-goes-right"><img src="{% static 'linkedin.png' %}" height="24px"
                    width="24px" /></a>
            </li>
        </ul>
    </nav>
</div>
<h1 class="title section-title orange">Projects</h1>

<div class="white padding-sides padding-top">
    <div class="text mb-4 p-hide" style="font-size: 4.5vw;">
        Filter projects by category
    </div>
    <button class="bubble" onclick="select('web-dev')" id="web-dev">WebDev</button>
    <button class="bubble" onclick="select('mobile-dev')" id="mobile-dev">MobileDev</button>
    <button class="bubble" onclick="select('game-dev')" id="game-dev">GameDev</button>
    <button class="bubble" onclick="select('neuro-tech')" id="neuro-tech">NeuroTech</button>
    <button class="bubble" onclick="select('machine-learning')" id="machine-learning">Machine Learning</button>
    <button class="bubble" onclick="select('ui-ux-design')" id="ui-ux-design">UI/UX Design</button>
    <button class="bubble" onclick="select('graphic-design')" id="graphic-design">Graphic Design</button>
    <button class="learn-more p-hide">
        <a href="#!" onclick="showProjects()">
            <span class="circle">
                <span class="icon arrow"></span>
            </span>
            <span class="button-text orange">See Projects</span>
        </a>
    </button>

    <div class="cards row">
        <div class="card project-card">
            <div class="card-image" style="background: #e6e6e6 no-repeat center center; background-size:cover;"></div>
            <div class="card-body">
                <p class="blue card-title">Project Title</p>
                <p class="blue card-text">This is the project description of a nice project by me.</p>
            </div>
        </div>
        <div class="card project-card">
            <div class="card-image" style="background: #e6e6e6 no-repeat center center; background-size:cover;"></div>
            <div class="card-body">
                <p class="blue card-title">Project Title</p>
                <p class="blue card-text">This is the project description of a nice project by me.</p>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(() => {
        let selected = {
            "web-dev" : false,
            "mobile-dev" : false,
            "game-dev" : false,
            "neuro-tech" : false,
            "machine-learning" : false,
            "ui-ux-design" : false,
            "graphic-design" : false
        }
        select = (id) => {
            selected[id] = !selected[id]
            selected[id] ? document.getElementById(id).classList.add("bubble-active") : document.getElementById(id).classList.remove("bubble-active");
        }
        showProjects = () => {
            console.log("Show Projects");
            $(".p-hide, .bubble").hide();
            $(".cards").css("display", "flex");
        }
    });
</script>
