#loader{
position: absolute;
left:0;
top:0;
height: 100vh;
width: 100vw;
background-image: linear-gradient(0deg, #00172a, #00335d 72%);
z-index: 10000 !important;
transition: all .5s ease-in-out;
}

.parallax {
  height: 100vh;
  background-attachment: fixed !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

#home .disappear {
  transform: translateY(-40%);
  opacity: 0 !important;
  transition: all .7s ease-in-out !important;
}

.disappearBg {
  transform: translateY(-20%);
  transition: all 1s ease-in-out !important;
}

::selection {
  color: #00335d;
  background: white;
}
::-moz-selection {
  color: #00335d;
  background: white;
}

.center-page {
  opacity: 0;
  position: absolute;
  top: -15vh;
  bottom: 0;
  left: 0;
  right: 0;
  height: fit-content;
  margin: auto;
  text-align: center;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  transition: all .7s ease-in-out !important;
}

#home #title {
  font-family: "DM Serif Text", serif;
  font-size: 7vw;
  line-height: 9vw;
}

#home #subtitle {
  font-family: "Roboto", sans-serif;
  font-size: 1.8vw;
  margin: 0 auto;
}

@media (max-width: 950px) {
  #home #title {
    font-size: 9vw;
    line-height: 10vw;
  }
  #home #subtitle {
    font-size: 3vw;
  }
}

@media (max-width: 600px) {
  #home #title {
    margin-top: -30px;
    font-size: 15vw;
    line-height: 16vw;
  }
  #home #subtitle {
    margin-top: 30px;
    font-size: 5.5vw;
    max-width: 90%;
  }
}
.navigation {
  opacity: 0;
  -webkit-font-smoothing: antialiased;
  font-family: "Roboto", sans-serif;
  height: 70px;
  background: transparent;
  transition: opacity 1s;
}

.nav-container {
  margin: 0 auto;
}

nav {
  float: right;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size:15px;
}
nav ul li {
  float: left;
  position: relative;
}
nav ul li a,
nav ul li a:visited {
  font-weight: bold;
  display: block;
  padding: 0 5px;
  margin: 0 25px;
  line-height: 70px;
  background: transparent;
  color: white;
  text-decoration: none;
}
/* Text hover link animation */
.text-hover {
  color: #fee3dc;
  display: inline;
  -webkit-transition-timing-function: cubic-bezier(0.65, 0, 0.076, 1);
  transition-timing-function: cubic-bezier(0.65, 0, 0.076, 1);
  -webkit-transition-duration: 0.45s;
  transition-duration: 0.45s;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
  -webkit-transition-property: color;
  transition-property: color;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  text-decoration: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
}
.text-hover:after {
  -webkit-transition-duration: 0.45s;
  transition-duration: 0.45s;
  -webkit-transition-timing-function: cubic-bezier(0.65, 0, 0.076, 1);
  transition-timing-function: cubic-bezier(0.65, 0, 0.076, 1);
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
  background-color: #fc7753;
}
.text-hover:focus,
.text-hover:hover {
  text-decoration: none;
  outline: 0;
  cursor: pointer;
  color: #fff;
  -webkit-transition: color 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  transition: color 0.45s cubic-bezier(0.65, 0, 0.076, 1);
}
.text-hover:active {
  z-index: 0;
}
.text-hover:focus:after,
.text-hover:hover:after {
  -webkit-transition-duration: 0.45s;
  transition-duration: 0.45s;
  -webkit-transition-timing-function: cubic-bezier(0.65, 0, 0.076, 1);
  transition-timing-function: cubic-bezier(0.65, 0, 0.076, 1);
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
.text-hover-linethrough-goes-right:after {
  content: "";
  position: absolute;
  -webkit-transition-property: width, background-color;
  transition-property: width, background-color;
  width: 0;
  height: 15%;
}
.text-hover-linethrough-goes-right:focus:after,
.text-hover-linethrough-goes-right:hover:after {
  outline: 0;
  -webkit-transition-property: width, background-color;
  transition-property: width, background-color;
  width: 100%;
}
.text-hover-linethrough-goes-right:after {
  left: 0;
  top: 50%;
}
#home-btn-nav {
  text-decoration: none;
  color: #fc7753;
}
/* Mobile navigation */
.nav-mobile {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  background: transparent;
  height: 70px;
  width: 70px;
}

@media only screen and (max-width: 769px) {
  .nav-mobile {
    display: block;
  }
  nav {
    width: 100%;
    padding: 0px 0 15px;
  }
  nav ul {
    padding: 15vh 0;
    text-align: center;
    font-size: 5vh;
    display: none;
    background: #fc7753;
    height: 100vh;
  }
  nav ul li {
    float: none;
    margin: 20px 0;
    padding: 0 15px;
  }
  nav ul li a {
    line-height: 20px;
    color: #00335d !important;
  }
  nav ul li ul li a {
    padding-left: 30px;
  }
  .nav-dropdown {
    position: static;
  }
  .text-hover:focus,
  .text-hover:hover {
    color: #00335d !important;
  }
  .text-hover:after {
    background-color: #00335d !important;
    height: 5px;
  }
}
@media screen and (min-width: 769px) {
  .nav-list {
    display: block;
  }
}
#nav-toggle {
  position: absolute;
  left: 18px;
  top: 22px;
  cursor: pointer;
  padding: 10px 35px 16px 0px;
}
#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 5px;
  width: 35px;
  background: white;
  position: absolute;
  display: block;
  content: "";
  transition: all 300ms ease-in-out;
}
#nav-toggle span:before {
  top: -10px;
}
#nav-toggle span:after {
  bottom: -10px;
}
#nav-toggle.active span {
  background-color: transparent;
}
#nav-toggle.active span:before {
  top: 0px;
  transform: rotate(45deg);
  background-color: #00335d;
}
#nav-toggle.active span:after {
  bottom: 0px;
  transform: rotate(-45deg);
  background-color: #00335d;
}

/* Learn More Button */
button {
  margin-top: 40px;
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: 17px;
  -webkit-font-smoothing: antialiased;
  font-family: "Roboto", sans-serif;
}
button.learn-more {
  width: 12rem;
  height: auto;
}
button.learn-more .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: #fc7753;
  border-radius: 1.625rem;
}
button.learn-more .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #00335d;
}
button.learn-more .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}
button.learn-more .circle .icon.arrow::before {
  position: absolute;
  content: '';
  top: -0.25rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #00335d;
  border-right: 0.125rem solid #00335d;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
button.learn-more .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  color: #fc7753;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
}
button:hover .circle {
  width: 100%;
}
button:hover .circle .icon.arrow {
  background: #00335d;
  -webkit-transform: translate(1rem, 0);
          transform: translate(1rem, 0);
}
button:hover .button-text {
  color: #00335d;
}
