.parallax{
    background-image: url("");

  /* Set a specific height */
  height: 100vh; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}