{% load static %}
<!DOCTYPE html>

<html lang="en">
  <head>
    <!-- META -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Lorenzo Sani" />

    <!-- LINKS -->
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.0.7/fullpage.min.css"
      rel="stylesheet"
      crossorigin="anonymous"
    />
    <link href="https://fonts.googleapis.com/css?family=DM+Serif+Text|Open+Sans&display=swap" rel="stylesheet">
    <link href="{% static 'style.css' %}" rel="stylesheet" />
    <link href="{% static 'stars.css' %}" rel="stylesheet" />

    <title>Lorenzo Sani - Portfolio Website</title>
  </head>
  <body style="background-color:#00335d">
    {% block content %} {% endblock %}
  </body>
  
  <!-- SCRIPTS -->
  <script
    src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.0.7/fullpage.min.js"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.0.7/fullpage.extensions.min.js"
    crossorigin="anonymous"
  ></script>
  <script src="{% static 'script.js' %}"></script>
</html>
